 <div id="page-content">
<div class="container">
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">it help full to learn about russia and it culture read it and add your view.</p>
  <hr class="my-4">
  <p>This article to helpfull and details about russia and it details in it</p>
  <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
  <%= link_to "Learn more",about_path,class: "btn btn-primary btn-lg" %>
</div>
</div>
</div>
